@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  list-style-type: none;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #edf1ed18;

  font-family: "Press Start 2P", cursive;
}

button {
  font-family: "Jetbrains Mono", cursive;
}

.game .status {
  background-color: #161616;
  color: #94fe00;
  text-shadow: 0.1rem 0.1rem #fefefe;

  border-radius: 1.6rem;

  font-size: 3.6rem;
  line-height: 4.6rem;
  letter-spacing: -0.04rem;

  padding: 1.6rem;
  margin-bottom: 3.2rem;

  text-align: center;
}

.game-board .board-row {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px 4px -6px rgba(0, 0, 0, 0.6);
}

.game-board .board-row .square {
  color: #fe35fe;
  background-color: #fefefe;
  border: 0.2rem solid #94fe00;

  width: 9.6rem;
  height: 9.6rem;

  font-size: 4.8rem;
  line-height: 5.8rem;
}

.game-info ol {
  margin-top: 2.4rem;
}

.game-info ol li {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  margin-top: 0.8rem;
}

.game-info ol li button {
  background-color: #161616;
  color: #fefefe;

  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
}

@media (max-width: 555px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 445px) {
  .game-board .status {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
}

@media (max-width: 555px) {
  html {
    font-size: 45%;
  }
}
