@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body,
button {
    font-family: 'Luckiest Guy', cursive;
} 

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f7f1fd;
}

.game-board .status {
    color: #222;
    text-shadow: 2px 2px #8357e5;

    font-size: 36px;
    line-height: 46px;
    letter-spacing: .4px;

    margin-bottom: 8px;

    text-align: center;
}

.game-board .board-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, .6)
}

.game-board .board-row .square {
    color: #fff;
    background-color: #0D1117;
    border: 2px solid #8357e5;

    width: 96px;
    height: 96px;

    font-size: 48px;
    line-height: 58px;
}
